@model GryfApp_Web.Models.Record
   

<body>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/navbar.css" />
        <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>

        <div class="text-center">
            <h1 class="display-4">Dodawanie wpisu</h1>
        </div>

        @using (Html.BeginForm("Create", "Record", FormMethod.Post))
        {
            <center>
                <form style="margin-top: 100px">

                    <div class="input-group">
                        @Html.LabelFor(model => model.userName, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.userName, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    </div>
                    <div class="form-group">

                        <label asp-for="userDate" class="control-label"></label>
                        <div class='input-group date col-md-5' id='datepicker'>
                            <input asp-for="userDate" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="userDate" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        @Html.LabelFor(model => model.userParts, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.userParts, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Dodaj" class="btn btn-success" />
                    </div>
                </form>



            </center>
        }

    </body>

    @section Scripts
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
        <script>
            $(function () {
                $('#datepicker').datetimepicker();
            });
        </script>
    }